.image {
  max-width: 80%;
  display: block;
  margin: 0 auto;
}

@media screen and (max-width: 640px) {
  .image {
    max-width: 60%;
    width: 100%;
    height: 20rem !important;
    object-fit: contain;
  }
}

@media screen and (min-width: 1024px) {
  .image {
    max-width: 40%;
  }
}
